.container {
  position: relative;
  width: var(--input-width);
}
.input {
  width: var(--input-width);
  height: 3rem;
  font-size: 1.2rem;
  border-radius: 5px;
  padding-left: calc(15px + 1.5rem);
  padding-right: calc(15px + 1.5rem);
  border-color: var(--input-border-color);
  background-color: var(--input-bg-color);
  color: var(--input-text-color);
  box-shadow: none;
}
.container .licon {
  position: absolute;
  left: 0;
  top: 0;
  width: calc(1.5rem + 10px);
  height: 3rem;
}
.container .ricon {
  position: absolute;
  right: 0;
  top: 0;
  width: calc(1.5rem + 10px);
  height: 3rem;
}
.licon > svg {
  width: 1.5rem;
  height: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  color: var(--input-text-color);
}
.ricon > svg {
  width: 1.2rem;
  height: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  color: var(--input-text-color);
  visibility: hidden;
}
.visible svg {
    visibility: visible;
}
.label {
  position: absolute;
  left: calc(15px + 1.2rem);
  top: calc(1.8rem / 2);
  font-size: 1.2rem;
  line-height: 1.2rem;
  transition: 0.3s;
}
.input:focus ~ label,
.fill {
  background-color: var(--input-bg-color);
  font-size: 15px;
  top: -12px;
  left: 24px;
  padding: 0 5px 0 5px;
}
.bottom {
  height: 32px;
  line-height: 24px;
}
.error,
.error svg {
  color: var(--input-error-color);
  border-color: var(--input-error-color);
}
.search {
  display: none;
}
/* Change bg-color in autofill input */
.input:-webkit-autofill,
.input:-webkit-autofill:hover, 
.input:-webkit-autofill:focus, 
.input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px var(--input-bg-color) inset !important;
}
/*Change text in autofill textbox*/
.input:-webkit-autofill{
    -webkit-text-fill-color: var(--input-text-color) !important;
}